.conversions{
  padding: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.darkConversions{
  color: white;
  background-color: #161616;
}
.conversions .title{
  font-size: x-large;
  font-weight: 500;
}
.conversions .inputConversions{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 1;
}

@media (width < 1300px) {
  .conversions{
    flex: 1;
    height: auto;
  }
}

@media (width < 555px) {
  .conversions .title{
    text-align: center;
  }
}