.currencyTable{
  color: black;
  background-color: white;
  border-collapse: collapse;
}
.darkCurrencyTable{
  color: white;
  background-color: rgb(27, 27, 27);
}

.currencyTable .fields{
  align-items: center;
  background-color: #ececec;
}
.darkFields{
  background-color: #141414 !important;
}

.currencyTable .fields th{
  padding: 10px 20px;
  font-size: 0.85em;
  font-weight: 500;
  border: 1px solid #ececec;
}
.darkFieldsTh{
  border: 1px solid #141414 !important;
}

.currencyTable .fields th button{
  background-color: transparent;
  border: none;
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  font-weight: 500;
  cursor: pointer;
}
.currencyTable .fields .sparkline_in_7d{
  user-select: none;
}
.currencyTable .fields th button:hover{
  color: gray;
}


.currencyTable .fields .name{
  text-align: left;
}

.currencyTable .fields .price{
  text-align: right;
}

@media (width < 820px) {
  .currencyTable .fields th:nth-last-child(2){
    display: none;
  }
}

@media (max-width: 590px) {
  .currencyTable{
    padding: 0;
  }

  .currencyTable .fields th:nth-child(1),
  .currencyTable .fields th:nth-last-child(2){
    display: none;
  }
}

@media (width < 445px) {
  .currencyTable .fields th:nth-last-child(3){
    display: none;
  }
}