.currencyTable{
  border-radius: 10px;
  color: black;
  background-color: white;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.089);
  border-collapse: collapse;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.darkCurrencyTable{
  color: white;
  background-color: rgb(27, 27, 27);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.295);
}

.currencyTable .fields{
  align-items: center;
}

.currencyTable .fields th{
  padding: 10px 20px;
}

.currencyTable .fields .Name{
  text-align: left;
}

.currencyTable .fields .Price{
  text-align: right;
}

@media screen and (max-width: 590px) {
  .currencyTable{
    border-radius: 0px;
    padding: 0;
  }

  .currencyTable .fields th:nth-child(1),
  .currencyTable .fields th:nth-last-child(2){
    display: none;
  }
}