.tableEntry{
  border-top: 1.5px solid #ececec;
  color: black;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.darkTableEntry{
  border-top: 1.5px solid #2e2e2e;
  color: white;
}

.tableEntry:hover{
  filter: opacity(0.65);
}

.tableEntry th{
  padding: 20px;
  border-left: none;
  border-right: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.tableEntry .price{
  text-align: right;
}

.tableEntry .name a{
  text-decoration: none;
  color: inherit;
}

.tableEntry .name .group{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.tableEntry .name .group .nameDisplay{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: start;
}

.tableEntry .name .group .nameDisplay .abbreviation{
  color: rgb(105, 105, 105);
}

.tableEntry .favoriteBtn{
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.tableEntry .favoriteBtn:hover,
.tableEntry .favoriteBtn:focus{
  transform: scale(1.25, 1.25);
  animation: shakeAnimation 1.25s infinite 0.2s;
}

@media screen and (max-width: 590px) {
  .tableEntry th:nth-child(1),
  .tableEntry th:nth-last-child(2){
    display: none;
  }
  
  .tableEntry .name{
    text-align: left;
  }
}

@keyframes shakeAnimation {
  0%{
    transform: rotateZ(0deg) scale(1.25, 1.25);
  }
  10%{
    transform: rotateZ(-4deg) scale(1.25, 1.25);
  }
  20%{
    transform: rotateZ(7deg) scale(1.25, 1.25);
  }
  30%{
    transform: rotateZ(-9deg) scale(1.25, 1.25);
  }
  40%{
    transform: rotateZ(10deg )scale(1.25, 1.25);
  }
  50%{
    transform: rotateZ(-9deg) scale(1.25, 1.25);
  }
  60%{
    transform: rotateZ(3deg) scale(1.25, 1.25);
  }
  70%{
    transform: rotateZ(0deg) scale(1.25, 1.25);
  }
  100%{
    transform: rotateZ(0deg) scale(1.25, 1.25);
  }
}

@keyframes redPulse {
  0%{
    color: white;
  }
  50%{
    color: red;
  }
  100%{
    color: white
  }
}

@keyframes greenPulse {
  0%{
    color: white;
  }
  50%{
    color: rgb(0, 255, 0);
  }
  100%{
    color: white
  }
}