.skeletonTableEntry{
  border-top: 1.5px solid #ececec;
  color: black;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.darkSkeletonTableEntry{
  border-top: 1.5px solid #2e2e2e;
  color: white;
}

.skeletonTableEntry:hover{
  filter: opacity(0.65);
}

.skeletonTableEntry th{
  padding: 20px;
  border-left: none;
  border-right: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.skeletonTableEntry .name{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 590px) {
  .skeletonTableEntry th:nth-child(1),
  .skeletonTableEntry th:nth-last-child(2){
    display: none;
  }
  
  .skeletonTableEntry .name{
    text-align: left;
  }
}