.conversion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.conversion .exchange{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.conversion .exchange .exchangeInput{
  height: 20px;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  font-size: medium;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  max-width: 100px;
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.darkExchangeInput{
  color: white;
  border-color: white;
}