.priceStatistics{
  background-color: white;
  padding: 25px;
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.darkPriceStatistics{
  background-color: #161616;
  color: white;
}

.priceStatistics .title{
  font-size: x-large;
  font-weight: 500;
}

.priceStatistics .stats{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.priceStatistics .stats .columnTitles{
  display: flex;
  justify-content: space-between;
}

.priceStatistics .highLow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  padding: 10px;
}

.priceStatistics .highLow .title{
  font-size: medium;
}

@media (width < 1300px) {
  .priceStatistics{
    margin-top: 0;
    flex: 1;
  }
}

@media (width < 555px) {
  .priceStatistics .title{
    text-align: center;
  }
}