.otherTrackings{
  display: flex;
  justify-content: space-between;
}

.otherTrackings .tracked-item{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: large;
}

.otherTrackings .tracked-item .title{
  color: rgb(116, 116, 116);
  font-size: medium;
}

.otherTrackings .tracked-item .title hr{
  border: 0.5px solid rgb(193, 193, 193);
}