.otherTrackings{
  display: flex;
  justify-content: space-between;
}

.otherTrackings .tracked-item{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: large;
}
.dark-tracked-item{
  color: white;
}

.otherTrackings .tracked-item .title{
  color: rgb(116, 116, 116);
  font-size: medium;
}

.otherTrackings .tracked-item .title hr{
  border: 0.5px solid rgb(193, 193, 193);
}

@media (width < 500px) {
  .otherTrackings{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    justify-content: space-evenly;
  }
  .otherTrackings .tracked-item{
    text-align: center;
  }
}