.chart{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chart:nth-child(2){
  gap: 1rem;
}

.chart .heading{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chart .heading .title{
  display: flex;
  align-items:center;
  gap: 1rem;
  white-space: nowrap;
  font-size: 2.5em;
  font-weight: 500;
}

.chart .heading .subtitle{
  font-size: x-large;
}

@media screen and (max-width: 655px) {
  .chart .heading{
    text-align: center;
    padding: 0px 20px;
  }
  .chart .heading .title{
    justify-content: center;
  }
  
  .chart .currencyTable tbody th{
    font-size: 0.85em;
  }
}