.chart{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.chart .heading{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chart .heading .title{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 2.5em;
  font-weight: 500;
}

.chart .heading .subtitle{
  font-size: x-large;
  color: rgb(144, 144, 144);
}