.recommended .heading{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: x-large;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.recommended .recommendations{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
  color: black;
  background-color: white;
  padding: 25px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.recommended .recommendations .recommendation{
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  width: auto;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.recommendation .left{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  font-weight: 500;
}
.recommendation .left .title{
  text-align: left;
}
.recommendation .left .title .name{
  font-size: large;
  word-wrap: normal;
}
.recommendation .left .title .symbol{
  font-size: medium;
  color: gray;
}
.recommendation .left .numbers{
  display: flex;
  justify-content: space-between;
  font-size: medium;
}