.recommended .heading{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: x-large;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recommended .recommendations{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
  color: black;
  background-color: white;
  padding: 25px;
}

.recommended .recommendations .recommendation{
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
}

.recommendation .left{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  font-weight: 500;
}
.recommendation .left .title{
  text-align: left;
}
.recommendation .left .title .name{
  font-size: large;
  word-wrap: normal;
}
.recommendation .left .title .symbol{
  font-size: medium;
  color: gray;
}
.recommendation .left .numbers{
  display: flex;
  justify-content: space-between;
  font-size: medium;
}

@media (width < 770px) {
  .recommended .recommendations{
    grid-template-columns: auto auto;
  }
}

@media (width < 800px) {
  .recommended .heading{
    padding: 0px 20px;
  }
}

@media (width < 555px) {
  .recommended .recommendations{
    grid-template-columns: auto;
  }
  .recommended .heading{
    justify-content: center;
    margin-top: 0;
  }
  .recommended .recommendations .recommendation .left .title{
    display: flex;
    justify-content: space-between;
  }
}